@CHARSET "utf-8";

* { padding: 0pt; margin: 0pt; }

body { 
	/*
	background-color: #EEEEEE;
	*/
	background-color: orange; 
}

h1 { 
	height: 33px;
	font-size: x-large;
	font-family: "Times New Roman", Times, serif;
}

a { text-decoration: none; }
a:link    { color: #0000ee; }
a:visited { color: #0000aa; }

input.err { background-color: orange; }

/* === blog ========= */

#outer {
	width: auto;
	background-color: white;
	margin: 10px;
}

#header{
	width:auto;
	background-color: orange;
}

#menu{
	width:200px;
	text-align:left;
	vertical-align: top;
	float:left;
	background-color: white;
	margin:10px 5px 10px 0px;
}

#menu div {
	margin: 10px
}
#menu hr {
	margin: 10px
}

#menu div h2 {
	font-size: small;
	text-indent: -3px;
}

#menu #recent li {
	font-size:small;
	list-style-type: none;
	margin-top: 3px;
}

#content{
	width:auto;
	float:left;
	background-color: white;
	margin:10px 0px 10px 5px;
	padding: 10px;
}

#footer{
	width:760px;
	text-align:left;
	background-color: black;
	color: white;
	clear: left;
}


